.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(300px, auto);
    column-gap: 55px;
    margin: 0 10em 0 10em
}



.movies{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 55px;


}
.movies__header {
    display: flex;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: cadetblue;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 1em;
    justify-content: space-between;
}

.movies__header--item1 {
}
.movies__header--item2 {
 
   
}
.movies__list {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    margin: 1em 10em 0em 10em
  
}

.container-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:blueviolet
}

.container-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:red
}

.container__list-card {
    cursor: pointer;
    background-color:cadetblue;
    margin-top: 3em;
    border: 1px solid black;
    color: white;
    text-align: center;
    border-radius: 10px
}

.modal-addList, .modal-addmovie {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-addList__content, .modal-addmovie__content {
    width: 50%;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
}
.modal-addmovie__content {
    height: 90%
}
.modal-addList__img, .modal-addmovie__img {
    float: right;
    margin-right: 1em;
    margin-top: 0.5em
}
.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 55px;
    row-gap: 55px;
    margin: 1em
}

.form-group1 {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 2;

}
.form-group2 {
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 3;

}

.form-group3 {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.form-group4 {
    grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    margin-bottom: 1em;
}
.form-search {
    grid-row: 1;
    grid-column: 1 / 3
 
}
.form-search__input {
    width: 100%;
    margin-bottom : 1em
}
.movie-searchList__title {
    border-bottom: 1px solid;
    cursor: pointer
}

.modal-addList__error, .modal-addmovie__error {
    color: red
}
.movie-searchList {
    background-color:cornsilk;
    height: 30%;
    overflow: scroll;
    border-radius: 10px
    
}

@media screen and (max-width: 600px) {
    .container, .movies,.movies__list { grid-template-columns: repeat(1, 1fr); }
  }

